p {
  margin-top: 0;
}

a {
  color: #2404f2;
}

button { 
  border:0;
  font-size: 14px;
  padding: 0;
}
button:focus{ outline:none; }  

.name, .content {
  position: absolute;
  visibility: hidden;
}

.name {
  cursor: pointer;
  background-color: white;
  color: #88B04B;
  text-decoration: underline;
}